{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, commodi corrupti. Deserunt perspiciatis veniam corporis eos dolores soluta atque voluptates, accusantium minima natus ducimus, porro iste vitae recusandae possimus. Odit obcaecati iusto amet quis temporibus quidem distinctio consectetur animi officiis porro cupiditate, commodi laboriosam soluta repellendus quaerat dolor delectus laudantium rem, enim et nobis culpa labore quod error! Harum perspiciatis non repellat officia veritatis excepturi itaque totam incidunt eligendi mollitia cum minus exercitationem facilis similique, omnis dolorum recusandae rerum quisquam necessitatibus laborum vero nemo! Distinctio ipsam eveniet maxime eaque rerum neque quaerat pariatur voluptatum placeat quas, hic veniam accusamus blanditiis?</p>
<p>created by {{username}}</p>

{% endblock %}
